.show-details-button {
  position: absolute;
  bottom: 67px;
  padding: 5px 0px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 300ms ease 100ms;
  background-color: rgba(0, 0, 0, 0.4);

  // background-color: transparent;
  border: 0;
  outline: none;
  width: 100%;
  &:hover{
    background-color: rgba(0, 0, 0, 0.8);
  }
  span {
    display: block;
    width: 14px;
    margin: 0 auto;
    color: white;
  }
}
